[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/gwdg/puppet-elasticsearch.git
[submodule "logstash"]
	path = logstash
	url = https://pkasprzak@github.com/gwdg/puppet-logstash.git
[submodule "logstashforwarder"]
	path = logstashforwarder
	url = https://pkasprzak@github.com/gwdg/puppet-logstashforwarder.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/gwdg/puppetlabs-stdlib.git
[submodule "apt"]
	path = apt
	url = https://github.com/gwdg/puppetlabs-apt.git
[submodule "java"]
	path = java
	url = https://pkasprzak@github.com/gwdg/puppetlabs-java.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://pkasprzak@github.com/gwdg/puppetlabs-rabbitmq.git
[submodule "sysctl"]
	path = sysctl
	url = https://pkasprzak@github.com/gwdg/puppet-sysctl.git
[submodule "redis"]
	path = redis
	url = https://pkasprzak@github.com/gwdg/puppet-redis.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://pkasprzak@github.com/gwdg/puppetlabs-puppetdb.git
[submodule "postgresql"]
	path = postgresql
	url = https://pkasprzak@github.com/gwdg/puppetlabs-postgresql.git
[submodule "inifile"]
	path = inifile
	url = https://pkasprzak@github.com/gwdg/puppetlabs-inifile.git
[submodule "firewall"]
	path = firewall
	url = https://pkasprzak@github.com/gwdg/puppetlabs-firewall.git
[submodule "concat"]
	path = concat
	url = https://pkasprzak@github.com/gwdg/puppetlabs-concat.git
[submodule "aptcacherng"]
	path = aptcacherng
	url = https://pkasprzak@github.com/gwdg/puppet-aptcacherng.git
[submodule "ntp"]
	path = ntp
	url = https://pkasprzak@github.com/gwdg/puppetlabs-ntp.git
[submodule "file_concat"]
	path = file_concat
	url = https://pkasprzak@github.com/gwdg/puppet-lib-file_concat.git
[submodule "git"]
	path = git
	url = https://pkasprzak@github.com/gwdg/puppetlabs-git.git
[submodule "kibana3"]
	path = kibana3
	url = https://pkasprzak@github.com/gwdg/puppet-kibana3.git
[submodule "apache"]
	path = apache
	url = https://pkasprzak@github.com/gwdg/puppetlabs-apache.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://pkasprzak@github.com/gwdg/puppetlabs-vcsrepo.git
